---
import LayoutAdmin from '@/layouts/layout-admin.astro'
import TableQueues from '@/components/manager/table-queue.astro'
import TableInstance from '@/components/manager/table-instance.astro'
import { getProject } from '@/services/projects.services'

const { slug } = Astro.params

const project = await getProject(slug)
if (!project) {
	return Astro.redirect('/manager/projects')
}
---

<LayoutAdmin title="Proyectos">
	<div class="p-4">
		<h1 class="text-2xl font-bold">Proyecto {slug}</h1>
		<hr class="my-4" />
		<div class="mb-4">
			<h3 class="mb-4 text-xl font-semibold">Colas</h3>
			<TableQueues queues={project.queue} />
		</div>
		<div class="mb-4">
			<h3 class="mb-4 text-xl font-semibold">Instancias</h3>
			<TableInstance instances={project.instance} />
		</div>
	</div>
</LayoutAdmin>
