---
import LayoutAdmin from '@/layouts/layout-admin.astro'
import ItemProjects from '@/components/manager/item-projects.astro'
import { getProjects } from '@/services/projects.services'

const projects = await getProjects()
---

<LayoutAdmin title="Proyectos">
	<div class="p-4">
		<h1>Proyectos</h1>
		<div class="flex flex-wrap justify-between">
			{
				projects.map((project) => (
					<ItemProjects
						title={project.name}
						description={project.description}
						slug={project.slug}
					/>
				))
			}
		</div>
	</div>
</LayoutAdmin>
