---
import Label from './label.astro'

interface Props {
	slug: string
}

const { slug } = Astro.props

const conversations = [
	{
		name: 'n8n_chat_commoviles',
		status: 'active'
	}
]
---

<div
	class="relative flex h-full w-full flex-col overflow-auto rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
>
	<table class="w-full min-w-max table-auto text-left">
		<thead>
			<tr>
				<th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
					<p
						class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
					>
						Nombre
					</p>
				</th>
				<th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
					<p
						class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
					>
						Status
					</p>
				</th>
				<th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
					<p
						class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
					>
					</p>
				</th>
			</tr>
		</thead>
		<tbody>
			{
				conversations.map((conversation) => {
					return (
						<tr>
							<td class="border-blue-gray-50 border-b p-4">
								<p class="text-blue-gray-900 block font-sans text-sm font-normal leading-normal antialiased">
									{conversation.name}
								</p>
							</td>
							<td class="border-blue-gray-50 border-b p-4">
								<Label text={conversation.status} error={conversation.status !== 'active'} />
							</td>
							<td class="border-blue-gray-50 border-b p-4">
								<a
									href={`/manager/conversations/${conversation.name}`}
									class="text-blue-gray-900 block font-sans text-sm font-medium leading-normal antialiased"
								>
									Ver
								</a>
							</td>
						</tr>
					)
				})
			}
			{
				conversations.length === 0 && (
					<tr>
						<td colspan="4" class="border-blue-gray-50 border-b p-4">
							<p class="text-blue-gray-900 block text-center font-sans text-sm font-normal leading-normal antialiased">
								No hay conversaciones agregadas
							</p>
						</td>
					</tr>
				)
			}
		</tbody>
	</table>
</div>
