---
import { IInstance } from '@/interfaces/projects.interface'
import { ShowInstance } from '@/React/manager/components/ShowInstance'

interface Props {
	instances: IInstance[]
}

const { instances } = Astro.props
---

<div
	class="relative flex h-full w-full flex-col overflow-auto rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
>
	<table class="w-full min-w-max table-auto text-left">
		<thead>
			<tr>
				<th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
					<p
						class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
					>
						Instance
					</p>
				</th>
				<th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
					<p
						class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
					>
						Descripción
					</p>
				</th>
				<th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
					<p
						class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
					>
						Status
					</p>
				</th>
				<th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
					<p
						class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
					>
					</p>
				</th>
			</tr>
		</thead>
		<tbody>
			{
				instances.map((instance) => {
					return (
						<tr>
							<td class="border-blue-gray-50 border-b p-4">
								<p class="text-blue-gray-900 block font-sans text-sm font-normal leading-normal antialiased">
									{instance.instance}
								</p>
							</td>
							<td class="border-blue-gray-50 border-b p-4">
								<p class="text-blue-gray-900 block font-sans text-sm font-normal leading-normal antialiased">
									{instance.description}
								</p>
							</td>
							<td class="border-blue-gray-50 border-b p-4">
								<p class="text-blue-gray-900 block font-sans text-sm font-normal leading-normal antialiased">
									{instance.status}
								</p>
							</td>
							<td class="border-blue-gray-50 border-b p-4">
								<ShowInstance client:load instance={instance} />
							</td>
						</tr>
					)
				})
			}
		</tbody>
	</table>
</div>
